html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

p,
pre {
	margin: 1em 0
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic
}

body {
	padding: 0px 0 20px 0px;
	margin: 0px; 
	line-height: 30px;
    font: 1.125em "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
	font-weight: normal;
	/* background-attachment: fixed !important;
	background: linear_gradient(#2a2a29, #1c1c1c) */
}

#mainPage{
	display:block;
    width:100%;
    height: 100vh;
    overflow:scroll;
}

h1,
h2,
h3 {
	line-height: 1.1;
	margin: 0 0 10px;
} 

h1 {
	font-size: 25px;
     color:#287D7D; 
}

h2 {
	font-size: 1.5em;
}

h4,
h5,
h6 {
	color: #e8e8e8
}

h3 {
	line-height: 24px;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	color: #2d5e9c;
}

a {
    color: #03658C;
	font-weight: 400;
	text-decoration: none
}

a:hover {
    color: #282772;
}

p,
ul,
ol,
table,
pre,
dl {
	margin: 0 0 20px
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	padding: 20px;
	margin-bottom: 20px;
	height: calc(100vh - 12vh);
}

#footer{
	position:fixed;
	max-width: 900px;
	padding: 20px;
	background:white;
	bottom :0px;
}

#introCell{
	/* font-size: 20px; */
	line-height: 30px;
	text-align: justify;
}

#introCell a, .eduLinks a{
	color: #7c8398;
}

section img {
	max-width: 100%
}

section ul{
	font-size:18px;
}

section ul li{
	margin: 10px 0px;
	/* list-style-type: none; */

}

blockquote {
	border-left: 3px solid #ffcc00;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic
}

code {
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
	color: #efefef;
	font-size: 13px;
	margin: 0 4px;
	padding: 4px 6px;
	border-radius: 2px
}

pre {
	padding: 8px 15px;
	background: #191919;
	border-radius: 2px;
	border: 1px solid #121212;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	overflow: auto;
	overflow-y: hidden
}

pre code {
	color: #efefef;
	text-shadow: 0px 1px 0px #000;
	margin: 0;
	padding: 0
}

table {
	width: 100%;
	border-collapse: collapse
}

th {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #434343;
	color: #b6b6b6;
	font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal
}

td {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #434343
}

hr {
	border: 0;
	outline: none;
	height: 3px;
	background: transparent url("../images/hr.gif") center center repeat-x;
	margin: 0 0 20px
}

dt {
	color: #F0E7D5;
	font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal
}

#header {
	padding: 20px;
	z-index: 100;
	left: 0;
	top: 0px;
	width:100%;
	position: fixed;
	background: #154c85;
	overflow: hidden;
}

#header nav {
	max-width: 900px;
	margin: 0 auto;
	position:relative;
}

#header p{
	padding:10px 200px 0px 5px;
}

#header nav li {
	font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	list-style: none;
	display: inline;
	color: white;
	line-height: 30px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	/* margin-top: 10px; */
	
}

#header nav li a {
	color: white;
	border-radius: 5px;
	padding: 10px 12px;
	line-height: 14px;
	font-size: 22px;
	display: inline-block;
	text-align: center
}

#header nav li a:hover {
	text-decoration: cornsilk;
	font-size: 23px;
	background: linear_gradient(#aaeaec, #154c85);
	background-color: #042850; 
	color: white;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px transparent

}

#header nav div{
	position:absolute;
	right: 0px;
}


#header nav li.title {
	float: left;
	margin-right: 10px;
	font-weight: bold;
	padding: 0px 200px 0px 0px;
	/* font-size: 11px */
}

#header nav li.title a:hover{
		text-decoration: underline;
}


.activeMenu {
	text-decoration: underline;
	/* background-color: #9fa9ca; */
}

#header nav li.label {
	float: left
}

#header nav li.page {
	float: left;
	font-weight: bold
}

section {
	/* max-width: 650px; */
	padding: 10px 0px 50px 0px;
	margin: 20px 0;
	margin-top: 70px
}

section #title {
	border: 0;
	outline: none;
	margin: 0 0 50px 0;
	padding: 0 0 5px 0
}

section #title h1 {
	font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 25px;
	color: #b6b6b6;
	text-align: center;
	line-height: 36px
}

section #title p {
	color: #d7cfbe;
	font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	text-align: center
}

section #title .credits {
	font-size: 11px;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #696969;
	margin-top: -10px
}

section #title .credits.left {
	float: left
}

section #title .credits.right {
	float: right
}

@media print,
screen and (max-width: 720px) {
	#title .credits {
		display: block;
		width: 100%;
		line-height: 30px;
		text-align: center
	}
	#title .credits .left {
		float: none;
		display: block
	}
	#title .credits .right {
		float: none;
		display: block
	}
}

@media print,
screen and (max-width: 480px) {
	#header {
		margin-top: -10px
	}
	section {
		margin-top: 40px
	}
	nav li a {
		font-size: 1em
	}
}

:root {
	--color-white: #f0e7d5;
	--color-blue: #e8e8e8;
	--color-gray: #b6b6b6;
	--color-yellow: #ffcc00;
	--color-dark-gray: #434343;
	--color-category-green: #2ca25f;
	--color-category-blue: #3182bd;
	--color-category-orange: #e6550d;
	--icon-hover: #282772;
}

section img {
	border-radius: 10px;
	image-rendering: auto
}

section #title {
	margin-bottom: 0
}

table.non-outline td,
table.non-outline th {
	border-bottom: 0px
}

table#social-accounts{
	table-layout: fixed;
}

table#social-accounts td {
	border-bottom: 1px solid #434343;
	border-top: 1px solid #434343;
	text-align: center;
}

div#social-accounts-mini span {
	/* margin-left: 3px; */
	margin-right: 5px;
	margin: 3px 5px 3px 3px;
	font-size: 1.5rem
}
#emailSpan{
	font-size: 1.1rem !important;
}

#CVSpan{
	font-size: 1.3rem !important;
}

div#social-accounts-mini p{
	margin: 2px;
	font-size: 1rem
}


.pubSection, .awardsSection{
	padding: 50px 0px;
}

@media (max-width: 600px) {
	td {
		display: table-row
	}
}

.publication-thumbnail {
	border-radius: 10px;
	width: 140px
}

.publication-authors,
.project-authors {
    color: rgb(68, 67, 67)
}

.project-authors{
	font-size: 18px;
}

.project-description{
	text-align: justify;
	margin: 5px 0px;
}

.publication-title {
	font-weight: bold
}

.project-title {
	font-weight: bold;
	font-size: 1.0em
}

.publication-publisher {
	font-style: italic;
	color: rgba(0, 0, 0, 0.6)
}

.publisher-publisher a {
	/* color: rgb(124, 14, 14) !important; */
	font-style: normal;
	margin-left: 5px;
	
}

.publisher-publisher i {
	
}

.project-time {
	font-style: italic
}
.project-thumbnail {
	border-radius: 10px;
	width: 180px;
	margin-top: 5px;
	border: 1px solid rgb(119, 143, 167);
}

.project-thumbnail-container {
	vertical-align: top
}

.project-category {
	font-size: 0.71em;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	margin-right: 5px;
	color:white;
	font-weight: normal;
}

.project-category.research-project {
	background-color: var(--color-category-green)
}

.project-category.course-project {
	background-color: var(--color-category-orange)
}

.project-category.side-project {
	background-color: var(--color-category-orange)
}

.project-time {
	font-style: italic;
	font-size: 0.7em;
	color: var(--color-gray);
	margin-left: 5px
}

.post-tag-list {
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid var(--color-dark-gray);
	border-top: 1px solid var(--color-dark-gray)
}

.post-tags {
	margin: 0;
	padding: 0px 0 5px
}

.post-tags a {
	font-size: 13px;
	font-weight: 400;
	display: inline-block;
	margin: 10px 8px 0 0;
	padding: 0 15px;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	text-decoration: none !important;
	letter-spacing: 0;
	border-radius: 5px;
	color: #fff
}

.post-tags a:nth-child(1n) {
	background: #6fa3ef
}

.post-tags a:nth-child(2n) {
	background: #ff9800
}

.post-tags a:nth-child(3n) {
	background: #46c47c
}

.post-tags a:nth-child(4n) {
	background: #f9bb3c
}

.post-tags a:nth-child(5n) {
	background: #bc99c4
}

.post-tags a:nth-child(6n) {
	background: #e8583d
}

.post-list .post-tag {
	color: var(--color-gray)
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.9)
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px
}

.modal-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}

@keyframes zoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer
}

@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%
	}
}

section .large-image {
	cursor: pointer;
}


.eduLinks, .eduLinks a{
	/* color: rgba(0, 0, 0, 0.6) !important; */
	font-size: 17px;
}

.tableEducation p{
	margin-bottom: 3px;
}

.tableEducation td{

	vertical-align: text-top;
}

#selected-publications{
	padding:  0px 10px 10px 10px;;
}

.projectSection{
	/* font-size: 19px; */
	line-height: 1.2em;	
}

.footer a{
	color: rgb(16, 54, 54);
}


.footer a:hover{
	color: var(--icon-hover);
}

/* #################### */


/* div.masonry div{
    display: inline-block;
	padding: 15px;
	margin-top: 20px;
	background: #F5F5F5;
}

div.masonry div div{
	margin: 0px;
	padding: 0px;
}

div.masonry img{
	width: 100%;
}

div.masonry h2{
	margin-top: 0px;
} */ 

/*------------------------------------------------------------------------------------*/
/*  column                                                                            */

div.columnView {
	overflow: hidden;
}

div.columnView div{
	overflow: hidden;
    display: block;
	padding: 20px;
	margin: 10px 0px 10px 0px;
}

div.columnView>div:nth-child(even){
    background: #F5F5F2;
}

div.columnView div div{
	margin: 0px;
	padding: 0px;
}

div.columnView img{
	float: left;
	width: 200px;
	margin-right: 20px;
}

div.columnView h2{
	margin-top: 0px;
}

div.columnView p{
	margin-top: 0px;
	line-height: 27px;
	text-align: justify;
}

.links{
	float:right;
	/* position: absolute;
	right:0px; */

}



.projects{
	padding: 5px 0px;
}
.floatLeft{
	float: left;
	color: #333;
}

.floatParent{
	overflow:hidden;
}

.ProjectWrapper p{
	text-align: justify;
	line-height: 24px;
}



a.readMore{
	display: inline-block;
	padding: 8px 10px;
	border: 1px solid #333;
	color:#333;
	text-decoration: none;
}

a.readMore:hover{
	text-decoration: none;
	color:#909090;
}

.related{
	color:black;
	font-size: 0.9em;
}


div.designMenu ul{
	text-align: center;
	/* display:inline-block; */
}

a.menuPage{
	color: rgb(94, 91, 91) ;
	padding: 5px 10px;
	margin-right: 10px;
	text-decoration: underline;
}

a.menuPage:hover{
	color: rgb(49, 47, 47) ;
}

span.menuPage {
	text-decoration: none;
}
.iconText{
	width: 70%;
	height:auto;
}
.alignCenter{
	text-align: center;
	padding: 10px 10px;
}

/* .imageAligned{
	display:inline-block;
	 min-width:2.2cm; 
	 height:3.8cm; 
	 text-align:center;
	 vertical-align:middle

}

.imageFloatText{
	display:inline-block;
	vertical-align: middle;
}  */